.profpic {
	margin: auto;
	margin-top: 10px;
	margin-top: 0;
}

.col-left > h4 {
	text-align: center;
}

.col-left {
	width: 20%;
}

.col-right {
	width: 75%;
}

h3 {
	border-bottom-style: solid;
	border-bottom-color: #5a5a5a;	
	border-bottom-width: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-variant: small-caps;
}

.row {
	border-bottom-style: solid;
	border-bottom-color: lightgrey;
	border-bottom-width: 1px;
	padding: 10px;
	width: 95%;
	margin: auto;
	margin-top: 0px;
}


@media only screen and (max-width: 1200px){
	.col-left, .col-right {
		width: 100%;
	}
}